{% extends "layout.html" %}
{% block content %}
<h1> About Page </h1>
<p> This is a draft app created using a YouTube tutorial. The author is not proficient using Flask, the Python module, and therefore, a step-by-step set of lessons for absolute beginners was required.
The forementioned tutorial can be found on YouTube, please see videos made by Corey Shafer. 
The content has been adapted to fit the criteria of the mock-up webapp. </p>
<p> The Author would like to thank the reader for the time spent assessing this draft project. As much as there is a great curiosity and passion for coding, there is also the need to improve and upskill </p>
{% endblock content%}
